RewriteEngine On

RewriteRule ^accueil$ menu.php
RewriteRule ^users$ main.php

RewriteRule ^inscription$ controllers/registerController.php
RewriteRule ^connexion$ controllers/loginController.php
RewriteRule ^deconnexion$ controllers/logoutController.php
RewriteRule ^commentaires$ controllers/commentsController.php
RewriteRule ^changements$ controllers/changeProfilInfosController.php
RewriteRule ^ajouter-livre$ controllers/booksController.php
RewriteRule ^modifier-livre-([0-9]+)$ controllers/updateBooksController.php?id=$1
RewriteRule ^liste-livres$ controllers/getBooksListController.php
RewriteRule ^page-livre-([0-9]+)$ controllers/getBooksController.php?id=$1
RewriteRule ^ajout-scans$ controllers/transactionController.php
RewriteRule ^supprimer-mon-compte$ controllers/deleteAccountController.php