 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: rgba(77, 77, 77, 0.829);
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
  }
  .success {
    color: rgb(0, 255, 0) ;
  }
  
  /*Navbar & Burger menu */
  #scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff7f0f;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
}
  
  .navbar {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    background-color: #0000004c;
}
.navbar a {
    color: #ff7f0f;;
}
.navbar .logo {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 9px;
    margin-left: 34px;
    padding-bottom: 10px;
}
.navbar .links ul {
    display: flex;
    align-items: center;
    padding-top: 14px;
}
.navbar .links ul li {
    margin:  5px 25px;
    right: 0;
}

.navbar .links ul #acc {
    display: flex;
}
.navbar .burger {
    display: none;
    z-index: 1;
    position: absolute;
    right: 45px;
    width: 36px;
    color: white;
    top: 30px;
}
.register {
    display: flex;
    padding-right: 15px;
    padding-top: 22px;
}
.register a {
    margin-left: 10px; /* Ajouter de l'espace à gauche des liens */
}
.navbutton{
    margin-right: 10px;
}
/* Page lecture */
.scans {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
}
/* Pages Des Mangas */ 

#detail-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #00000026;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    display: flex; 
    border-radius: 10px;
}

.image-container {
    flex: 0 0 40%; /* 40% de la largeur du conteneur pour l'image */
    padding: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
}

.info-container {
    flex: 0 0 60%; /* 60% de la largeur du conteneur */
    padding: 30px;
    border-left: 2px solid #000000; 
}

h3 {
    text-align: center;
    font-size: 45px;
    color: #080808;
    margin-top: 0;
}

p {
    text-align: center;
    font-size: 20px;
    color: #000000;
}
.username {
    font-size: 18px;
    color: white;
}
#chapitres {
    margin-top: 10px;
}
/*Formulaire */

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    background-color: #00000046;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    margin: 40px auto;
}
.wrapper h2 {
    font-size: 30px;
    text-align: center;
}

.errors {
    color: rgb(255, 133, 133);
}
.wrapper .inputbox {
    position: relative;
    width: 70%;
    margin: 20px 21px;
    height: 35px; 
}
.inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(118, 109, 109); border-radius: 3px;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.inputbox input::placeholder {
color: white;
}
.wrapper .remember {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 0 0 15px;
}
.remember label input {
    accent-color: white;
    margin-right: 3px;
}
.remember a {
    color: white;
    text-decoration: none;
}
.remember a:hover {
    text-decoration: underline;
}
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
    cursor: pointer;
    font-size: 10px;
    color: rgb(34, 16, 236);
    font-weight: 600;
}
.wrapper .register-link {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.register-link a:hover {
    text-decoration: underline;
}
.scan {
    padding: 0 100px;
    box-sizing: border-box;
    text-align: center;
}
/* footer */ 
footer {
    text-align: center;
    padding: 10px;
    background-color: #0000004c;
    color: #F1F1E4;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centrage vertical du contenu */
    width: 100%;
    position: relative;
    bottom: 0;
}

footer .left {
    flex: 1;
    display: flex;
    align-items: center;
}

footer .left a {
    text-decoration: none;
    color: #F1F1E4;
    display: flex; /* Permet au texte et au logo de rester côte à côte */
    align-items: center; /* Centrage vertical du contenu */
}

footer .left a img {
    max-width: 30px; /* Taille maximale du logo */
    height: auto;
    border-radius: 50%; /* Coins arrondis pour le logo */
    margin-right: 5px; /* Espace entre le texte et le logo */
}

footer .center {
    flex: 1;
}

footer .center a {
    color: #F1F1E4;
    text-decoration: none;
}

/*modal*/

.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    /* Elle est au-dessus de tous les autres éléments de la page */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    background-color: #fefeff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
}

.close-btn {
    float: right;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Page Accessible aux Modos*/

.book-container {
    margin: 10px 10px 0 15px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.book {
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.book img {
    max-width: 100%;
    height: 400px;
    transition: transform 0.2s; 
    border-radius: 20px;
}

.book-title {
    margin-top: 15px;
    font-size: larger;
}

.book:hover img {
    transform: scale(1.1); /* Zoom au survol */
    cursor: pointer;
}

.book-actions {
    text-align: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
    margin-right: 4px;
    color: #000000;
}
/* Style Formulaire Manga */ 

#book-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-form, .right-form {
    background-color: #00000046;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-form {
    width: 45%;
}

.right-form {
    width: 50%;
}

.left-form label, .right-form label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}
textarea {
    width: 100%;
    height: 150px;
}
.left-form input, .left-form textarea, .right-form input {
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(118, 109, 109);
    border-radius: 15px;
    font-size: 14px;
    color: white;
    padding: 10px 20px;
}

.left-form input::placeholder, .left-form textarea::placeholder, .right-form input::placeholder {
    color: white;
}

.left-form p.errorText, .right-form p.errorText {
    color: #FF0000;
}

.left-form .custom-btn, .right-form .custom-btn {
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
    cursor: pointer;
    font-size: 16px;
    color: rgb(0, 145, 255);
    font-weight: 600;
    margin-top: 10px;
}

.custom-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 15px;
}


@media screen and (min-width: 1150px) and (max-width: 1600px) {
  
    /* Page Accessible aux Modos*/
    container {
        max-width: 100%;
        margin: 0 auto;
    }
.book-container {
    margin: 10px 10px 0 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.book {
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.book img {
    max-width: auto;
    height: 400px;
    transition: transform 0.2s; 
    border-radius: 20px;
}

.book-title {
    margin-top: 15px;
    font-size: larger;
}

.book-actions {
    text-align: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #000000;
}
 }

@media screen and (min-width: 901px) and (max-width: 1149px) {
    /* Page Accessible aux Modos*/
.book-container {
    margin: 10px 10px 0 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.book {
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.book img {
    max-width: auto;
    height: 300px;
    transition: transform 0.2s; 
    border-radius: 20px;
}

.book-title {
    margin-top: 15px;
    font-size: larger;
}

.book-actions {
    text-align: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #000000;
}
 }
 @media screen and (min-width: 970px) and (max-width: 1148px) {
.book img {
    max-width: auto;
    height: 350px;
    transition: transform 0.2s; 
    border-radius: 20px;
}
 }
@media screen and (min-width: 750px) and (max-width: 900px) {
    .navbar {
        padding: 0;
    }
    .navbar .logo {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 20px;
        margin-left: 20px;
    }
.navbar a {
    text-align: center;
}
.links ul {display: flex;
    flex-direction: column;
    align-items: center;
    }
    .navbar .burger{
            display: block;       
            position: absolute;
            right: 10px;
            width: 36px;
            color: white;
            top: 15px;
    }
    .links {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(20px);
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 1s ease;
    }
    .links.menu-mobile {
        margin-left: 0;
        z-index: 1;
    }
    .navbar .links ul li  {
        margin: 25px 0;
        font-size: 1.1rem;
    }
    .navbar .logo {
       display: none;
    }
.register {
    display: none;
}

    /* Page Accessible aux Modos*/

.book-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.book {
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.book img {
    max-width: auto;
    height: 300px;
    transition: transform 0.2s; 
    border-radius: 20px;
}

.book-title {
    margin-top: 15px;
    font-size: larger;
}

.book-actions {
    text-align: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #000000;
}

/* Pages Des Mangas */ 

#detail-container {
    max-width: 550px;
    margin: 15px auto;
    padding: 20px;
    background-color: #00000026;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    display: flex; 
    border-radius: 10px;
}

.image-container {
    flex: 0 0 40%; /* 40% de la largeur du conteneur pour l'image */
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
}

.info-container {
    flex: 0 0 60%; /* 60% de la largeur du conteneur */
    padding: 20px;
    border-left: 2px solid #000000; 
}

h3 {
    font-size: 30px;
    color: #080808;
    margin-top: 0;
}

p {
    font-size: 20px;
    color: #000000;
    
}
 }
 @media screen and (min-width: 801px) and (max-width: 900px) {
    /* Pages Des Mangas */ 

#detail-container {
    max-width: 700px;
    margin: 15px auto;
    padding: 20px;
    background-color: #00000026;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    display: flex; 
    border-radius: 10px;
}

.image-container {
    flex: 0 0 40%; /* 40% de la largeur du conteneur pour l'image */
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
}

.info-container {
    flex: 0 0 60%; /* 60% de la largeur du conteneur */
    padding: 20px;
    border-left: 2px solid #000000; 
}

h3 {
    font-size: 30px;
    color: #080808;
    margin-top: 0;
}

p {
    font-size: 20px;
    color: #000000;
    
}
 }
 @media screen and (min-width: 900px) and (max-width: 1110px) {footer {
  display: none;
}
}
 @media screen and (min-width: 300px) and (max-width: 899px) {
    footer {
    display: none;
    }
 }

 @media screen and (min-width: 700px) and (max-width: 800px) {
    /* Pages Des Mangas */ 

#detail-container {
    max-width: 650px;
    margin: 15px auto;
    padding: 20px;
    background-color: #00000026;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    display: flex; 
    border-radius: 10px;
}

.image-container {
    flex: 0 0 40%; /* 40% de la largeur du conteneur pour l'image */
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
}

.info-container {
    flex: 0 0 60%; /* 60% de la largeur du conteneur */
    padding: 20px;
    border-left: 2px solid #000000; 
}

h3 {
    font-size: 30px;
    color: #080808;
    margin-top: 0;
}

p {
    font-size: 20px;
    color: #000000;
    
}
 }
 
@media screen and (min-width: 651px) and (max-width: 749px) {
    .navbar {
        padding: 0;
    }
    .navbar .logo {
        display: none;
    }
    .register {
        display: none;
    }
.navbar a {
    text-align: center;
}
.links ul {display: flex;
    flex-direction: column;
    align-items: center;
    }
    .navbar .burger{
        display: block;
        position: absolute;
        right: 25px;
        width: 36px;
        color: white;
        top: 15px;
    }
    .links {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(20px);
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 1s ease;
    }
    .links.menu-mobile {
        margin-left: 0;
        z-index: 1;
    }
    .navbar .links ul li  {
        margin: 25px 0;
        font-size: 1.1rem;
    }
    .navbar .logo {
        position: absolute;
        top: 10px;
        left: 30px;
    }


    /* Page Accessible aux Modos*/

.book-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.book {
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.book img {
    max-width: auto;
    height: 300px;
    transition: transform 0.2s; 
    border-radius: 20px;
}

.book-title {
    margin-top: 15px;
    font-size: larger;
}

.book-actions {
    text-align: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #000000;
}
/* Pages Des Mangas */ 

#detail-container {
    max-width: 500px;
    margin: 15px auto;
    padding: 20px;
    background-color: #00000026;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    display: flex; 
    border-radius: 10px;
}

.image-container {
    flex: 0 0 40%; /* 40% de la largeur du conteneur pour l'image */
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
}

.info-container {
    flex: 0 0 60%; /* 60% de la largeur du conteneur */
    padding: 20px;
    border-left: 2px solid #000000; 
}

h3 {
    font-size: 25px;
    color: #080808;
    margin-top: 0;
}

p {
    font-size: 15px;
    color: #000000;
    
}
 } 
 @media screen and (min-width: 300px) and (max-width: 650px) {
    .navbar {
        padding: 0;
    }
    .navbar .logo {
        display: none;
    }
.navbar a {
    text-align: center;
}
.links ul {display: flex;
    flex-direction: column;
    align-items: center;
    }
    .navbar .burger{
            display: block;       
            position: absolute;
            right: 25px;
            width: 36px;
            color: white;
            top: 15px;
    }
    .links {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(20px);
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 1s ease;
    }
    .links.menu-mobile {
        margin-left: 0;
        z-index: 1;
    }
    .navbar .links ul li  {
        margin: 25px 0;
        font-size: 1.1rem;
    }
    .navbar .logo {
       display: none;
    }
.register {
    display: none;
}

    /* Page Accessible aux Modos*/

.book-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.book {
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.book img {
    max-width: auto;
    height: 300px;
    transition: transform 0.2s; 
    border-radius: 20px;
}

.book-title {
    margin-top: 15px;
    font-size: larger;
}

.book-actions {
    text-align: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #000000;
}

/* Pages Des Mangas */ 

#detail-container {
    max-width: 475px;
    margin: 15px auto;
    padding: 20px;
    background-color: #00000026;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    display: flex; 
    border-radius: 10px;
}

.image-container {
    flex: 0 0 40%; /* 40% de la largeur du conteneur pour l'image */
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
}

.info-container {
    flex: 0 0 60%; /* 60% de la largeur du conteneur */
    padding: 20px;
    border-left: 2px solid #000000; 
}

h3 {
    font-size: 30px;
    color: #080808;
    margin-top: 0;
}

p {
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
}
 }
  